@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.rubik-light {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

.rubik-regular {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.rubik-medium {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.rubik-bold {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}
